html{
	height: 100%;
}

/*BACKGROUND:*/
body{background: linear-gradient(to bottom right, yellow, red);}

 /*BIG "This is my HTML page" text as a Title*/
h1{
	color: red;
	font-size: 60px;
	font-family: 'Mulish', sans-serif;
	text-align: center;
	margin: 20px;
  }

#notTitle{
	color: blue;
	font-size: 20px;
	text-align: left;
	margin: 15px 15px 25px;
	display: inline;
}

#cloak{

	visibility: hidden;
}

#inline{
	color: blue;
	text-align: left;
	font-size: 20px;
	display: inline;
	margin: 15px 15px 25px;
		
}

/*A header with "Home Page" and "Testing Page"*/
li{
	font-size: 18px;
	list-style-type: none;
	float: right;
	margin-right: 10px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 4px 4px 10px lightblue;
}

/*Border around text on the page (excluding the title and header)*/
div{
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 10px gray;

}
